.card {
  height: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid white;
}

.card-information-about {
  padding-left: 50px;
  padding-right: 50px;
}

.card-description {
  position: absolute;
  left: 20px;
}

.card-description p {
  font-size: 24px;
  opacity: 0.8;
  position: absolute;
  top: 175px;
  left: -5px;
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0;
}

.big-title {
  padding-bottom: 50px;
  padding-top: 50px;
}

.big-title-first {
  padding-bottom: 30px;
  padding-right: 90px;
}

.info-title {
  text-align: center;
}


.card-information {
  display: flex;
}

.card-information-title {
  padding-left: 50px;
  font-size: 12px;
  font-weight: bold;
  flex: 1 0 auto;
  padding-right: 25px;
  width: 420px;
}

.educational {
  padding-bottom: 35px;
}

.time-line-cards {
  height: 220px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;
  border-radius: 1px;
  margin-bottom: 20px;
}
