.index {
  border: 8px solid green;
  margin: 0px;
}

/* Banner designs */
.banner {
  background-position: fixed;
  background-size: cover;
  background-position: 0% 41%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: white;
  font-family: helvetica;
  height: 450px;
}

// skills //
.skills-frontend,
.skills-backend,
.skills-tools {
  text-align: center;
  width: 230px;
}

.personality-title {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 50px;
  padding-left: 50px;
  color: white;
  &:first-letter{
    color: red;
  }
}

.first-letter-red {
  letter-spacing: 30px;
  color: white;
  font-size: 20px;
  text-align: center;
}

.first-letter-red:first-letter {
  color: red;
}
