/* Banner design */
.banner {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100vh;
  color: white;
  font-family: helvetica;
  background-size: cover !important;
}

.banner h1 {
  font-size: 50px;
  transition: font-size 200ms ease;
}

.banner h1:hover {
  font-size: 52px;
}

.banner p {
  font-size: 25px;
}

.about-me {
  text-decoration: none;
}

.about:hover {
  color: #A61B1B;
  transition: color 300ms;
}

.workex:hover {
  color: #A61B1B;
}

.education:hover {
  color: #A61B1B;
  transition: color 300ms;
}


// skills //
.wrapper-fixed {
  background-size: cover !important;
  padding: 30px;
}

.skills {
  color: white;
}


