div class="coffee" style="background: linear-gradient(-125deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.7)), url(images/goodcoffee.jpg)"
  div class="container"
    h1 Want to grab coffee?
    div class="contacts"
      | emiel.hagen@gmail.com
    div class="footer"
      | © EMIEL HAGEN. All rights reserved.
