 <div class="coffee" style="background: url(images/goodcoffee.jpg)">
  <div class="container">
    <h1>Want to grab coffee?</h1>
    <div class="contacts"> emiel.hagen@gmail.com </div>
    <div class="contacts"> 0613888370 </div>
    <div class="footer">
      <p>© EMIEL HAGEN. All rights reserved.</p>
    </div>
  </div>
</div>
