<div class="home-btn">
  <!-- Logo -->
  <a href="#home">
    <p>Back to top</p>
  </a>
</div>

<div class="navbar-info">
<p>Emiel Hagen</p>
<a href="#skills">
<p>Skills</p>
</a>

<a href="#projects">
<p>Projects</p>
</a>


<p>Timeline</p>
<p>Education</p>
</div>
