      <a name="home"> </a>
      <div class="banner" style="background: linear-gradient(-125deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/emielprofil2.jpg) fixed">
        <div class="twisted">
          <p>When something is important enough, you do it even if the odds are not in your favor.</p>
          <p>-Elon Musk-</p>
        </div>
      </div>


      <div class="wrapper-skills" style="background: linear-gradient(-125deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url(images/skills1.jpg)">
        <div class="skills">
         <div class="skills-frontend">
          <h2>Front-end</h2>
          <p>HTML & CSS3</p>
          <p>JavaScript, jQuery & React.js</p>
          <p>Bootstrap</p>
          <p>UX/UI best practices</p>
        </div>
        <div class="skills-backend">
          <h2>Back-end</h2>
          <p>Ruby</p>
          <p>Ruby on Rails</p>
          <p>PostgreSQL</p>
          <p>APIs</p>
        </div>
        <div class="skills-tools">
          <h2>Tools</h2>
          <p>Git</p>
          <p>GitHub</p>
          <p>Heroku</p>
          <p>Amazon S3</p>
        </div>
      </div>
    </div>


    <div class="wrapper-projects" id="projects">
      <div class="container">
        <p>PROJECTS</p>
        <div class="row">
          <div class="col-sm-4">
            <div class="card" style="background: url('images/Activityduck2.png');">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: url('images/Activityduck1.png');">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: url('images/activityduck3.png');">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: url('images/activityduck4.png');">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: url('images/activityduck5.png');">
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card" style="background: url('images/activityduck6.png');">
            </div>
          </div>
        </div>
      </div>
    </div>

<!--                 <%= link_to "a", "http://www.ActivityDuck.com", target:"_blank", class: "card-link" %>
-->


<div class="wrapper-white padded">
  <div class="container">
    <div class="test-photo">
      <img src="images/emielprofile.jpg" alt="profilephoto" class="hidden-xs hidden-sm">
      <div class="big-title-first">
        <a name="about-me"> </a><h1 class="info-title">About</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
        <div class="card-information-about">
          <p>I am a software developer who likes to built web applications with ruby on rails. During multiple self study courses online I realized that coding suits me very well. In order to accelerate my knowledge of coding I enrolled in the coding bootcamp of Le Wagon. Before enrolling in the Le Wagon coding bootcamp I finished my master in business administration. This master was really interesting and I've learned a lot in many aspects of doing business, but I felt I missed some specific skills. In today's business environment, I believe being able to code is a huge advantage. That is why I immediately enrolled in the Le Wagon bootcamp as soon as I got the chance. Now that this course is coming to an end I feel confident that coding is what I want to develop further. Therefore I am looking for an interesting traineeship where this is possible!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="big-title">
    <a name="education"> </a><h1 class="info-title">Education</h1>
  </div>
  <div class="educational">
    <div class="card-information">
      <div class="card-information-title">
        <p>Le Wagon Coding Bootcamp, Amsterdam</p>
      </div>
      <div class="card-information-content">
        <p>Intensive 3-month coding program with emphasis on Ruby &
          Ruby on rails. It is a full stack program which touches all
          aspects from the database to the browser: HTML, CSS,
          Javascript, SQL, AWS, Heroku, etc.</p>
          <hr>
        </div>
      </div>
      <div class="card-information">
        <div class="card-information-title">
          <p>VU University Amsterdam</p>
        </div>
        <div class="card-information-content">
          <p>Master Business administration, Strategy & Organizations. Master’s thesis topic: Legitimacy of organizations
            introducing disruptive innovations, as perceived by
            stakeholders in different national contexts</p>
            <hr>
          </div>
        </div>
        <div class="card-information">
          <div class="card-information-title">
            <p>International Summer University Program, Copenhagen</p>
          </div>
          <div class="card-information-content">
            <p>Global finance and World markets; Competing in
              the global Marketplace, the consultant’s perspective</p>
              <hr>
            </div>
          </div>
          <div class="card-information">
            <div class="card-information-title">
              <p>University of Applied Sciences, Utrecht</p>
            </div>
            <div class="card-information-content">
              <p>Commerce, specialization sales & marketing. For my graduation project I wrote a strategic marketing plan for an organization on Curacao</p>
            </div>
          </div>
        </div>
      </div>



      <!-- map -->
      <div id="map" style="width: 100%; height: 400px;"></div>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

      <script type="text/javascript">
        var myLatlng = new google.maps.LatLng(52.3710367,4.8849993,17);
        var myOptions = {
          zoom: 15,
          center: myLatlng,
          scrollwheel: false,
          mapTypeId: google.maps.MapTypeId.ROADMAP,
          styles: [{
            "featureType": "administrative",
            "elementType": "labels",
            "stylers": [{
              "visibility": "off"}]},
              {"featureType": "administrative.country",
              "elementType": "geometry.stroke",
              "stylers": [{"visibility": "off"}]},
              {"featureType": "administrative.province",
              "elementType": "geometry.stroke",
              "stylers": [{
                "visibility": "off"}]},
                {"featureType": "administrative.locality",
                "elementType": "labels.text",
                "stylers": [{"visibility": "on"}]},
                {"featureType": "landscape",
                "elementType": "geometry",
                "stylers": [{"visibility": "on"},
                {"color": "#e3e3e3"}]},
                {"featureType": "landscape.natural",
                "elementType": "labels",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "poi",
                "elementType": "all",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "road",
                "elementType": "all",
                "stylers": [{"color": "#cccccc"}]},
                {"featureType": "road",
                "elementType": "labels",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "transit",
                "elementType": "labels.icon",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "transit.line",
                "elementType": "geometry",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "transit.line",
                "elementType": "labels.text",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "transit.station.airport",
                "elementType": "geometry",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "transit.station.airport",
                "elementType": "labels",
                "stylers": [{"visibility": "off"}]},
                {"featureType": "water",
                "elementType": "geometry",
                "stylers": [{"color": "#FFFFFF"}]},
                {"featureType": "water",
                "elementType": "labels",
                "stylers": [{"visibility": "off"}]}]};

                var map = new google.maps.Map(document.getElementById('map'), myOptions);
                var marker = new google.maps.Marker({
                  position: myLatlng,
                  map: map,
                  title: "This is the place"
                });
              </script>

              <div class="container">
                <div class="big-title">
                  <a name="work-ex"> </a><h1 class="info-title">Work</h1>
                </div>
                <div class="educational">
                  <div class="card-information">
                    <div class="card-information-title">
                      <p>ActivityDuck</p>
                    </div>
                    <div class="card-information-content">
                      <p>Co-founder of ActivityDuck. ActivityDuck is a platform that let's user book activities in any place in the world. It started during the coding bootcamp but quickly grew into a real company.</p>
                      <hr>
                    </div>
                  </div>
                  <div class="card-information">
                    <div class="card-information-title">
                      <p>Budget Energie</p>
                    </div>
                    <div class="card-information-content">
                      <p>Providing service to customers before, during, and after a
                        purchase. Besides offering customer service, there was a strong emphasis on sales.</p>
                        <hr>
                      </div>
                    </div>
                    <div class="card-information">
                      <div class="card-information-title">
                        <p>Technical support engineer KPN</p>
                      </div>
                      <div class="card-information-content">
                        <p>In addition to addressing customer inquiries, concerns and
                          suggestions, I focused on technical difficulties with products,
                          brought up by other departments within the organization.</p>
                          <hr>
                        </div>
                      </div>
                      <div class="card-information">
                        <div class="card-information-title">
                          <p>Graduation internship Empire Promotions, Curaçao</p>
                        </div>
                        <div class="card-information-content">
                          <p>Wrote a strategic marketing plan for penetrating foreign
                            markets. Organized and executed a sales project regarding
                            BIC products.</p>
                            <hr>
                          </div>
                        </div>
                      </div>
                    </div>


